EXPO_PUBLIC_AUTH_SCHEME=burner
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_BURNER_WEB_URL=https://burner.example.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_BURNER_APP_URL=burner://
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_DEVELOPER_DONATION_URL=https://buymeacoffee.com/jdhelmuth
NEXT_PUBLIC_DEVELOPER_DONATION_LABEL=Buy me a coffee
NEXT_PUBLIC_DEVELOPER_DONATION_SECONDARY_URL=
NEXT_PUBLIC_DEVELOPER_DONATION_SECONDARY_LABEL=
NEXT_PUBLIC_DEVELOPER_DONATION_MESSAGE=If you had fun with this, consider donating!
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_AUTH_GOOGLE_CLIENT_ID=
SUPABASE_AUTH_GOOGLE_SECRET=
SUPABASE_AUTH_APPLE_CLIENT_ID=
SUPABASE_AUTH_APPLE_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CALLBACK_ORIGIN=
APPLE_MUSIC_KEY_ID=
APPLE_MUSIC_TEAM_ID=
APPLE_MUSIC_PRIVATE_KEY=
APPLE_MUSIC_DEVELOPER_TOKEN=
SHARE_TOKEN_SIGNING_SECRET=
FIELD_ENCRYPTION_KEY=
